@{
    ViewBag.Title = "Обратная связь";
}

<h1>@ViewBag.Title</h1>
    
<section class="contact">
   <p>
       Здесь будет что-то о том, как с связаться с разработчиком (со мной).
   </p>
</section>